.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.num-container {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.btn-active,
.btn-active span:last-child,
.btn-active:hover,
.btn-active:hover span:last-child,
.num-container:hover,
.num-container:hover span:last-child {
  background: rgba(244, 67, 54, 1) !important;
  color: #fff !important;
}

.num-container > .number {
  font-size: 2em;
  margin-left: 10px;
}

.num-container span:last-child {
  font-size: 1em;
  color: gray;
}