.container {
  position: relative;
}
.cardPlacement {
  position: absolute;
  width: 225px;
  margin-top: calc(2em + 12px) !important;
}
.note-card {
  margin: 1em;
}
.note-card h3 {
  margin-top: 0;
}